body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  margin:0;
  padding:0;
}

/*   */
.page-container {
  background-color: white;
}
.content-container{
  padding-top:5px;
}


.back-btn-div{
  padding:20px ;
}

.btn-div{
  font-weight:bold;
  font-size: 15px;
  height:30px;
  width:100px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  border:none;
}

.btn-div:hover{
  padding:5px 10px;
  background-color:purple;
  color:aliceblue;
  margin-top:5px;
  border:none;
  font-weight: bold;
  cursor:pointer;
}

.btn-div-link{
  color:white;
  text-decoration: none;
}

.inactive-btn{
  padding:5px 10px;
  text-align: center;
  color:#ccc;
  background-color: grey;
  margin-top:5px;
  border:none;
  font-weight: bold;
  pointer-events: none;
}

.link-btn{
  text-decoration: none;
  color:white;
}
.align-c{
  text-align: center;
}
.align-l{
  text-align: left;
}
.align-r{
  text-align: right;
}

/*---Table : CSS Ruling---*/

.tbl {
  border: 1px solid #ccc;
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

.tbl td,
.tbl th {
	border: 1px solid #ccc;
	padding:10px;
}









.create-inventory-form{
  width:400px;
  border:1px solid #ddd;
  border-radius:1rem;
  color:#777;
}



.form-input-div{
  padding:5px 20px;
  margin-bottom:10px;
  display:flex;
  justify-content: space-between;
}

.form-input{
  margin-left: 20px;
}

.day-input, .month-input{
  width:50px;
}

.year-input{
  width:50px;
}

.selectDiv{
  height: 30px;
  width:auto;
  padding:2px;
}

/*-----Flex : CSS Ruling-----*/
/*common classes */
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  }
  .flex-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  }
  
  /* inventory css */
  button{
    background:#ce4257;
    font-weight:bold;
    font-size: 15px;
    height:30px;
    padding:2px 5px;
    color:azure;
    cursor: pointer;
    border:none;
  }

  
  .back-btn{
    text-align: center;
    color:white;
    background-color: rgb(146,7,7);
    border-radius: 20px;
    margin-top:20px;
    margin-left:100px;
    padding:5px 20px;
  }

  .form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
  }
  
  .form-container form{
    background-color: aliceblue;
  }
  
  .form-container form h1{
    margin-bottom:20px;
    text-align: center;
    background-color: rgb(146,7,7);
    color:white;
    padding:20px 0;
  }

  .ul-container{
    display:flex;
    flex-direction: row;
    width:100%;
    min-height:400px;
    margin:50px;  
  }

  .nav-ul{
    list-style-type: none;
    min-width: 240px;
    margin-left:50px;
    border:1px solid #ccc;
    border-radius:10px 10px 0 0 ;
}
li{
    color:black;
    height:30px;
    border-bottom:1px solid #ccc;
    padding:6px 30px;
}
ul h2{  
    padding:12px 36px;  
    border-bottom:1px solid #ccc;
    background:rgb(146, 7, 7);
    color:white;
    font-size:20px;
    border-radius:10px 10px 0 0 ;
}

li .report-link{
    color:black;
    cursor:pointer;
    text-decoration: none; 
    font-size:10px;   
}

.report-link:hover{
    font-weight: bold;
}

.form-select{
  background-color:skyblue;
  padding:10px 0px;
}
.date-search-bar select{
  height:30px;
  width:200px;
  border:1px solid #ccc;
}
.search-bar{
  width:250px;
  background-color: aliceblue;
  border-bottom:1px solid #333;
}
.search-bar select{
  height:30px;
  padding:5px;
  width:250px;
  border:none;
}


.search-div{
  padding:30px 0px;
  text-align:right;
  margin-right:50px;
}

.search-div label{
  margin-right:30px;
  font-size:15px;
  font-weight:bold;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.flex-right-row{
  display:flex;
  justify-content: flex-end;
}
.tt-c{
  text-transform: capitalize;
}