.navbar {
    background:rgb(146, 7, 7);
    padding: 20px;
    color: #fff;
    margin-top:0;
  }
  .navbar nav {
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  .navbar a.brand {
    margin-right: auto;
    color: #fff;
    text-decoration: none;
  }
  .navbar a:last-child {
    color: #fff;
    text-decoration: none;
    margin-left: 40px;
    padding: 8px;
    border: 1px solid #fff;
    border-radius: 4px;
  }
  .navbar a:last-child:hover {
    background: #fff;
    color: #333;
  }
  .nav-link{
    text-decoration: none;
    color:white;
    font-weight: bold;
    font-size:12px;
    margin-right:3rem;
  }
  .nav-link:hover{
    font-size:14px;
    color:yellow;
  }

  .footer{ 
    display:flex;
    justify-content: center;
    align-items: center;
    background: rgb(146, 7, 7);
    padding: 20px;
    color: #fff;
    font-size:10px;
    margin-top: 50px;
}